/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-8-8, 9:03:26
    Author     : 3
*/
#divCourseList{
    position:absolute; margin-left:2%; margin-top:2%; width:95%; height:600px; border-radius: 5px;
}
#selected{
    position:absolute; margin-left: 1%; margin-top: 10px;
}
#name{
    position:absolute; margin-left: 6%; margin-top: 10px;
}
#speaker{
    position:absolute; margin-left: 18%; margin-top: 10px;
}
#period{
    position: absolute; margin-left: 25%; margin-top: 10px;
}
#score{
    position: absolute; margin-left: 30%; margin-top: 10px;
}
#place{
    position: absolute; margin-left: 40%; margin-top: 10px;
}
#organization{
    position:absolute; margin-left: 55%; margin-top: 10px;
}
#whoAdd{
    position:absolute; margin-left: 70%; margin-top: 10px;
}
#status{
    position:absolute; margin-left: 78%; margin-top: 10px;
}
#operations{
    position:absolute; margin-left: 90%; margin-top: 10px;
}
#dataName{
    position:absolute; margin-left: 6%; margin-top: 10px;
}
#dataSpeaker{
    position:absolute; margin-left: 18%; margin-top: 10px;
}
#dataPeriod{
    position: absolute; margin-left: 25%; margin-top: 10px;
}
#dataScore{
    position: absolute; margin-left: 30%; margin-top: 10px;
}
#dataPlace{
    position: absolute; margin-left: 40%; margin-top: 10px;
}
#dataOrg{
    position:absolute; margin-left: 55%; margin-top: 10px;
}
#dataWhoAdd{
    position:absolute; margin-left: 70%; margin-top: 10px;
}
#dataStatus{
    position:absolute; margin-left: 78%; margin-top: 10px;
}
#dataOperations{
    position:absolute; margin-left: 90%; margin-top: 0px; width: 20%; height: 40px;
}