/*
添加页面的css样式文件
*/
/* 
    Created on : 2015-8-26, 9:49:02
    Author     : 3
*/
#divLectureName{
    position: relative; margin-left: 2%; margin-top:2%; width: 90%; height: 30px;
}
#divLectureTime{
    position: relative; margin-left: 2%; margin-top:10px; width: 90%; height: 30px;
}
label{
    position: absolute; margin-left: 0px; margin-top: 0px; text-align: right; width: 150px; 
}
.input{
	position:absolute; margin-left:150px; margin-top:0px; border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
#divLectureSpeaker{
    position:relative; margin-left: 2%; margin-top: 10px; width:90%; height:30px; 
}
#divLectureSpeakerDuty{
    position:relative; margin-left: 2%; margin-top: 10px; width: 90%; height: 30px;
}
#divLectureSpeakerCollege{
    position:relative; margin-left: 2%; margin-top: 10px; width: 90%; height: 30px;
}
#divLectureUndertakeCollege{
    position:relative; margin-left: 2%; margin-top: 10px; width: 90%; height: 30px;
}
#divLectureScope{
    position:relative; margin-left: 2%; margin-top: 10px; width: 90%; height: 30px;
}
#divLecturePlace{
    position:relative; margin-left: 2%; margin-top: 10px; width: 90%; height: 30px;
}
#divLectureOrg{
    position:relative; margin-left: 2%; margin-top: 10px; width: 90%; height: 30px;
}
.ke-container.ke-container-default{
    margin-left: 150px;
}
#divCourseButton{
    position:relative; margin-left: 10%; margin-top: 10px; width: 90%; height: 200px;
}
#divCourseExamine{
    position:relative; margin-left: 2%; margin-top: 20px; width: 90%; height: 30px;
}